
@{
    ViewBag.Title = "Yazarlar Listesi";
}
@using Kutuphane.Data.Model
@model List<Yazar>

@section Scripts
{

    <script src="~/Content/Js/Yazar.js"></script>
}
<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th style="width:65%">Ad</th>
            <th style="width:15%">Kitap Sayısı</th>
            <th style="width:10%">Güncelle</th>
            <th style="width:10%">Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var yzr in Model)
        {
            <tr>
                <td id="td_@yzr.Id">@yzr.Ad</td>
                <td></td>
                <td><button class="guncelle btn btn-custom" value="@yzr.Id">Güncelle</button></td>
                <td><button class="sil btn btn-danger" value="@yzr.Id">Sil</button></td>
            </tr>
        }
    </tbody>

</table>
